# Environment Variables
.env.*
.env.local
.env.*.local

# Docker
*.dockerignore
# docker-compose.override.yml
# docker-compose.yml

# Vue.js (frontend)
frontend/dist/
frontend/.DS_Store
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Vue.js (frontend-alt)
frontend-alt/dist/
frontend-alt/.DS_Store
frontend-alt/node_modules/
frontend-alt/npm-debug.log*
frontend-alt/yarn-debug.log*
frontend-alt/yarn-error.log*
frontend-alt/pnpm-debug.log*

# Backend
backend/node_modules/
backend/npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
