# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=db_user
DB_PASSWORD=db_user_pass
DB_NAME=sb_name
DB_SSL=false
DB_INSECUREAUTH=true
# Backend Configuration
PORT=3000
MS_ENTRA_CLIENT_ID=client id
MS_ENTRA_TENANT_ID=tenant id